# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
.DS_Store
.project

FairShare/node_modules
FairShare/channel-artifacts/*.tx
FairShare/channel-artifacts/*.block
FairShare/crypto-config/*
FairShare/docker-compose-e2e.yaml
FairShare/ledgers
FairShare/ledgers-backup
FairShare/hfc-key-store/

chaincode-docker-devmode/myc.block
chaincode-docker-devmode/chaincode/sacc/sacc
chaincode-docker-devmode/FairShare/chaincode/chaincodeFF

# fabric sdk node modules
app/node_modules/
app/package-lock.json
app/hfc-key-store/

